<app-user></app-user>
<br>
<div fxFlexFill>
<form class="example-form">

    <div fxFlexFill fxLayoutAlign="center center" >
        <table border="1" class="a" >
        <mat-form-field fxFlexFill fxLayoutAlign="center center">
            <mat-label class="color" >Delete User</mat-label>
            <input matInput placeholder="UserId">
        </mat-form-field>
        <div fxFlexFill fxLayoutAlign="center center" >
            <button mat-raised-button color="accent">Delete</button>
        </div>
    </table>
    </div>
</form>
</div>
