table.a {
    margin-top: 10%;
    margin-left: 10%;
    width: 30%;
    height:auto;
    background-color: rgb(245, 239, 239);

  }

  .color{
      color: rgb(7, 7, 7);
  }
  table.b {
    margin-top: -20%;
    margin-left: 50%;
    width: 30%;
    height: auto;
    background-color: rgb(245, 239, 239);

  }

  .color{
      color: rgb(7, 7, 7);
  }